.env

# Ignore base WordPress files
src/wordpress/*
!src/wordpress/.gitkeep

# Ignore default plugins and themes
src/plugins/akismet
src/plugins/hello.php
src/plugins/index.php
src/themes/twentytwentyone
src/themes/twentytwentytwo
src/themes/twentytwentythree
src/themes/index.php